body {
    padding-top: 50px;
}

.search_option_well {
    padding-top: 0;
}

#lottery {
    max-width: 500px;
}

.close_tab, .close_tab:hover {
    margin-left: 6px;
    padding: 4px;
    text-decoration: none;
}

.room_table {
    table-layout: fixed;
}

.room_table input, .chzn-container {
    max-width: 90%;
}
