body {
    padding-top: 50px;
}

.search_option_well {
    padding-top: 0;
}

#lottery {
    max-width: 500px;
}

.close_tab, .close_tab:hover {
    margin-left: 6px;
    padding: 4px;
    text-decoration: none;
}

.filter {
    display: table;
    min-height: 70px;
    margin-bottom: 9px;
}

.filter-set {
    display: table-cell;
    vertical-align: top;
    line-height: 32px;
}

.occupancy {
    width: 100px;
}

.select-buildings {
    display: table-cell;
    vertical-align: top;
    width: 550px;
}

.room_table {
    table-layout: fixed;
}

.filter .chzn-container {
    max-width: 90%;
    vertical-align: top;
}

.filter .chzn-container-single,
.filter .chzn-single, 
.filter .chzn-container-single,
.filter .chzn-single {
    height: 30px;
    line-height: 30px;
}

.chzn-container .chzn-results .group-result {
    cursor: pointer;
}

.chzn-container .chzn-results .group-result:hover {
    background: #3875d7;
    color: #FFFFFF;
}

.chzn-container .chzn-results .group-result:hover:after {
    content: " (select all buildings in campus area)";
    font-size: 8pt;
    font-weight: normal;
}

.star {
    text-align: center;
}

.header.star:after {
    content: none;
}

footer {
    text-align: center;
}

#clear_data {
    font-size: x-small;
}
