body {
    padding-top: 50px;
}

.search_option_well {
    padding-top: 0;
}

#lottery {
    max-width: 500px;
}

.close_tab, .close_tab:hover {
    margin-left: 6px;
    padding: 4px;
    text-decoration: none;
}

.filter {
    display: table;
    min-height: 70px;
    margin-bottom: 9px;
}

.filter-set {
    display: table-cell;
    vertical-align: top;
    line-height: 32px;
}

.occupancy {
    width: 100px;
}

.select-buildings {
    display: table-cell;
    vertical-align: top;
    width: 550px;
}

.room_table {
    table-layout: fixed;
}

.filter .chzn-container {
    max-width: 90%;
    vertical-align: top;
}

.filter .chzn-container-single,
.filter .chzn-single, 
.filter .chzn-container-single,
.filter .chzn-single {
    height: 30px;
    line-height: 30px;
}

.chzn-container .chzn-results .group-result {
    cursor: pointer;
}

.chzn-container .chzn-results .group-result:hover {
    background: #3875d7;
    color: #FFFFFF;
}

.star {
    text-align: center;
}

.header.star:after {
    content: none;
}

footer {
    text-align: center;
}

#clear_data {
    font-size: x-small;
}

.probability {
    border-radius: 3px;
    -webkit-border: 3px;
    background-clip: padding-box;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
    background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
    background-image: -ms-linear-gradient(top, #e4e4e4 0%, #eeeeee 70%);
    background-image: linear-gradient(top, #e4e4e4 0%, #eeeeee 70%);
    border: 1px solid #b4b4b4;
}

.probability div {
    display: inline-block;
    background-clip: padding-box;
    background-color: #14c759;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #14C759), color-stop(0.7, #14C759));
    background-image: -webkit-linear-gradient(bottom, #14c759 0%, #14c759 70%);
    background-image: -moz-linear-gradient(bottom, #14c759 0%, #14c759 70%);
    background-image: -o-linear-gradient(bottom, #14c759 0%, #14c759 70%);
    background-image: -ms-linear-gradient(bottom, #14c759 0%, #14c759 70%);
    background-image: linear-gradient(bottom, #14c759 0%, #14c759 70%);
    color: #333333;
    width: 78%;
    text-align: right;
}

tfoot th {
    border-top: 1px solid #ddd;
}
