<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>About Cella</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="styles/chosen.css" />
    <link rel="stylesheet" type="text/css" href="styles/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
<body>
    <div class="container">
        <header class="topbar" data-dropdown="dropdown">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/">Cella</a>
                    <ul class="nav" style="float: right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#"
                                title="Helpful links about the housing lottery"
                                >Lottery Links</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://www.brown.edu/Student_Services/Residential_Council/lottery/broadcast/index.php">
                                    Lottery Results Live
                                    </a>
                                </li>
                                <li>
                                    <a href="http://brown.edu/Student_Services/Residential_Council/lottery/">
                                        Housing Lottery Website
                                    </a>
                                </li>
                                <li>
                                    <a href="http://reslife.brown.edu/current_students/lottery/floorplans/floorplans.html">
                                        Floorplans
                                    </a>
                                </li>
                                <li>
                                    <a href="http://reslife.brown.edu/current_students/lottery/index.html">ResLife</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active"><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </header>

        {{{ content }}}

        <footer>
        </footer>

    </div>


    <!-- scripts -->
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script type="text/javascript" src="scripts/chosen.js"></script>
    <script type="text/javascript" src="scripts/tablesorter.js"></script>
    <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="scripts/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="scripts/bootstrap-tabs.js"></script>
</body>
</html>


